.header {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;
}
.header h3 {
	line-height: 40px;
}

.jumbotron {
	text-align: center;
}

#logo {
	margin-bottom: 30px;
}

nav.header a {
	transition: background-color 0.3s ease;
}

.chromebook .media {
	margin-bottom: 20px;
}
.chromebook .media-object {
	width: 140px;
	height: auto;
	min-height: 1px;

	transition: opacity, -webkit-transform 0.2s ease-out;
	transition-property: opacity, transform; /* Can't combine 'transform' with the prefixed variant above. */
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.chromebook .media-object.show {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
