<input ng-model="filterString" class="form-control input-lg pull-right chromebookFilter" type="search" placeholder="filter..." />



<div ng-repeat="cb in chromebooks | orderBy:'name' | filter:filterString" class="chromebook">

	<div class="media">
		<span class="pull-left">
			<img
				fade-image
				class="media-object"
				ng-src="{{ cb.image.src }}"
				height="{{ cb.image.height }}"
				width="{{ cb.image.width }}"
			>
		</span>
		<div class="media-body">
			<h1 class="media-heading">{{ cb.name }}</h1>
			<p>
				<span class="label label-success">Stable:</span> {{ cb.stable }}
			</p>
			<p>
				<span class="label label-warning">Beta:</span> {{ cb.beta }}
			</p>
			<p>
				<span class="label label-danger">Dev:</span> {{ cb.dev }}
			</p>
		</div>
	</div>

</div>

<pre>{{ chromebooks | json}}</pre>

