<div class="jumbotron">
	<img src="logo.png" alt="AngularJS Logo" id="logo" width="383" height="108" />

	<p class="lead">HTML enhanced for web apps!</p>
	<p>Een bedenktijdje over het framework AngularJS.</p>
</div>



<div class="row presentatie">

	<div class="col-12">
		<h1>Inleiding</h1>
		<ul>
			<li>Google</li>
			<hr />
			<li>Veel structuur</li>
			<li>Testen</li>
			<li>Declaratief</li>
			<li>Geen (directe) DOM koppeling</li>
			<hr />
			<li>Data Binding</li>
			<li>POJO</li>
			<li>Dependency Injection</li>
			<li>Promises</li>
			<hr />
			<li>IE compatible</li>
		</ul>
	</div>



	<div class="col-12">
		<h1>Drie fases</h1>
		<div class="fase">
			<img src="/images/fase1.jpg" width="232" height="310" class="img-thumbnail" />
			<h2>Whoah!</h2>
		</div>
		<div class="fase">
			<img src="/images/fase2.png" width="1500" height="1106" class="img-thumbnail" />
			<h2>Ahrg!</h2>
		</div>
		<div class="fase">
			<img src="/images/fase3.png" width="1280" height="788" class="img-thumbnail" />
			<h2>Hell Yeah!</h2>
		</div>
	</div>



	<div class="col-12">
		<div class="well">
			<h1>Data Binding</h1>
			<input ng-model="exampleString" class="form-control input-lg" type="text" placeholder="Type something..." />
			<p class="text-primary">{{ exampleString }}</p>

			<button type="button" class="btn btn-primary" ng-click="setRandom()">Random</button>
		</div>
	</div>



	<div class="col-12">
		<form class="well" name="validationExample">
			<h1>Form Validatie</h1>
			<input ng-model="exampleInt" class="form-control input-lg" type="number" name="exampleIntField" required max="9" />
			<div ng-show="validationExample.$dirty">
				<p class="text-primary">{{ exampleInt }}</p>
				<p class="text-success" ng-show="validationExample.exampleIntField.$valid">Valid</p>
				<p class="text-danger" ng-show="validationExample.exampleIntField.$invalid">Invalid</p>
				<p class="text-warning" ng-show="validationExample.exampleIntField.$error.number">Moet een nummer zijn</p>
				<p class="text-warning" ng-show="validationExample.exampleIntField.$error.max">Mag niet meer dan 9 zijn</p>
				<p class="text-danger" ng-show="validationExample.exampleIntField.$error.required">Verplicht veld</p>
			</div>

			<pre class="text-muted">{{ validationExample.exampleIntField.$error | json }}</pre>
		</form>
	</div>



	<div class="col-12">
		<h1>Form validatie</h1>
		TODO
	</div>

	<div class="col-12">
		<h1>Tests</h1>
		TODO
	</div>

	<div class="col-12">
		<h1>The End</h1>
		<img src="/images/eind.gif" width="500" height="281" class="img-thumbnail" />
		<ul>
			<li>Batarang</li>
			<li>grunt-ngmin</li>
			<hr/>
			<li>egghead.io</li>
		</ul>
	</div>


</div>
